


<td>
  <a routerLink="/main"><button type="button" class="btn btn-outline-info" style="margin-left: 50px; margin-bottom: 20px;">
    Employees Growth & Info</button></a>

  <a routerLink = "/growth"><button type="button" class="btn btn-outline-info" style="margin-left: 50px; margin-bottom: 20px;">
    Project Growth & Info</button></a>

  <button type="button" class="btn btn-outline-info" style="margin-left: 50px; margin-bottom: 20px;">
    Projects Feedback</button>

</td>
<router-outlet></router-outlet>
