<div class="panel panel-default">
    <div class="panel-body">
        <h1 style="color: blue; font-size: 30px; font-style: italic; ">Project Growth Report</h1>
    </div>
</div>

<div class="jumbotron" style="background-color: whitesmoke; height:450px; ">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron jumbotron-fluid" style="background-color: whitesmoke; ">
                    <div style=" height: 230px; width:700px;">
                        <canvas id="canvas" height="10" width="30"></canvas>
                    </div>
                </div>

            </div>
            <div class="col-sm-4">

                <br>
                <br>
                <br>
                <span style="font-style: italic;font-size: 20px;"> Agile Project Submissions</span>
                <hr>
                <span>Submission 1</span>
                <div class="progress">
                    <div class="progress-bar bg-info progress-bar-striped" style="width:100%"></div>
                </div>
                <span>Submission 2</span>
                <div class="progress">
                    <div class="progress-bar bg-info progress-bar-striped" style="width:100%"></div>
                </div>
                <span>Submission 3</span>
                <div class="progress">
                    <div class="progress-bar bg-info progress-bar-striped" style="width:60%"></div>
                </div>
                <span>Submission 4</span>
                <div class="progress">
                    <div class="progress-bar bg-info progress-bar-striped" style="width:0%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid" style="background-color:whitesmoke;height: 350px;">


        <div class="container">
            <div class="row">
    
                <div class="col-sm-6">
                    <div style="   height: 350px; width: 600px;">
                        <canvas id="piechart" height="15" width="30"></canvas>
                    </div>
    
                </div>
                
                <div class="col-sm-6">
    
                    <div style="   height: 250px; width: 600px;">
                        <canvas id="barchart" height="10" width="20"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    