
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top" id="nav">
        <a class="navbar-brand" href="#"  style="color: blanchedalmond;"> Project Management</a>
        <a class="navbar-brand" href="#"  style="color: blanchedalmond; margin-left: 90px;"> Dashboard</a>
        <a class="navbar-brand" href="#" style="color: blanchedalmond;">Projects</a>
        <a class="navbar-brand" href="#" style="color: blanchedalmond;">Reports</a>

   <form class="form-inline" action="/action_page.php">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" id="serach">
  </form>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-0">
           
                      <div class="area"></div>
                      <nav class="main-menu">
                          <ul>
                              <li>
                                  <a href="http://justinfarrow.com">
                                      <i class="fa fa-home fa-2x"></i>
                                      <span class="nav-text">
                                          Dashboard
                                      </span>
                                  </a>
                  
                              </li>
                              <li class="has-subnav">
                                  <a href="#">
                                      <i class="fa fa-laptop fa-2x"></i>
                                      <span class="nav-text">
                                          Stars Components
                                      </span>
                                  </a>
                  
                              </li>
                              <li class="has-subnav">
                                  <a href="#">
                                      <i class="fa fa-list fa-2x"></i>
                                      <span class="nav-text">
                                          Forms
                                      </span>
                                  </a>
                  
                              </li>
                              <li class="has-subnav">
                                  <a href="#">
                                      <i class="fa fa-folder-open fa-2x"></i>
                                      <span class="nav-text">
                                          Pages
                                      </span>
                                  </a>
                  
                              </li>
                              <li>
                                  <a href="#">
                                      <i class="fa fa-bar-chart-o fa-2x"></i>
                                      <span class="nav-text">
                                          Graphs and Statistics
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <i class="fa fa-font fa-2x"></i>
                                      <span class="nav-text">
                                          Quotes
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <i class="fa fa-table fa-2x"></i>
                                      <span class="nav-text">
                                          Tables
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <i class="fa fa-map-marker fa-2x"></i>
                                      <span class="nav-text">
                                          Maps
                                      </span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <i class="fa fa-info fa-2x"></i>
                                      <span class="nav-text">
                                          Documentation
                                      </span>
                                  </a>
                              </li>
                          </ul>
                  
                          <ul class="logout">
                              <li>
                                  <a href="#">
                                      <i class="fa fa-power-off fa-2x"></i>
                                      <span class="nav-text">
                                          Logout
                                      </span>
                                  </a>
                              </li>
                          </ul>
                      </nav>
                 </div>
          <div class="col-sm-12">
            <p>
                There are a couple of ways to look things up in Wikipedia: by searching or by browsing.

                If you know the name of an article for which you are looking, simply type it into Wikipedia's search box.
                If you would like to look around the encyclopedia to see what is on it, use Wikipedia's Contents pages. Lists and indices are examples of contents for a published work, and Wikipedia has many of each, including a complete alphabetical index and indices by category.
                Links to all of Wikipedia's main contents pages are presented below, and they in turn link to the more specific pages.
                Curated article collections
                Overview articles
                Overview articles summarize in prose a broad topic like biology, and also have illustrations and links to subtopics like cell biology, biographies like Carl Linnaeus, and other related articles like Human Genome Project.
                
                Portal:Contents/Overviews lists overview articles from covered fields in a single page.
                Outline pages
                Outline pages have trees of topics in an outline format, which in turn are linked to further outlines and articles providing more detail. Outlines show how important subtopics relate to each other based on how they are arranged in the tree, and they are useful as a more condensed, non-prose alternative to overview articles.
                
                Portal:Contents/Outlines is a comprehensive list of "Outline of __" pages, organized by subject. It is itself an outline, that links (almost) exclusively to other outlines.
                Outline of academic disciplines covers subjects studied in college or university, and provides links to prose overview articles and their corresponding outlines.
                Outline of knowledge is the top-level outline, its subject being the broadest one of all. It is the ancestor of all other outlines, and they branch out from it, in successive levels.
                Third-party classification systems
                Various third-party classification systems have been mapped to Wikipedia articles, which can be accessed from these pages:
                
                Library of Congress Classification
                List of Dewey Decimal classes
                Figurative system of human knowledge
                Outline of Roget's Thesaurus
                Propædia
                Tree of knowledge system
                Universal Decimal Classification
                Vital articles
                Main page: Wikipedia:Vital articles
                Vital articles are lists of subjects for which Wikipedia should have corresponding high-quality articles. They serve as centralized watchlists to track the status of Wikipedia's most important articles.
                
                Vital articles level 1 – 10 most important articles
                Vital articles level 2 – 100 most important articles
                Vital articles level 3 – 1,000 most important articles
                Vital articles level 4 – 10,000 most important articles
                Vital articles level 5 – 50,000 most important articles
                Reference collections
                Wikipedia has several types of pages which provide content in a non-prose form, for reference purposes.
                
                List pages
                List pages enumerate items of a particular type, such as the List of sovereign states or List of South Africans. Wikipedia has "lists of lists" when there are too many items to fit on a single page, when the items can be sorted in different ways, or as a way of navigating lists on a topic (for example Lists of countries and territories or Lists of people). There are several ways to find lists:
                
                Portal:Contents/Lists – A limited single-page collection of lists and lists of lists
                List of lists of lists – A broad single-page collection of lists of lists
                Category:Lists – Browse lists comprehensively via the multi-page Wikipedia category system
                Timelines
                Timelines list events chronologically, sometimes including links to articles with more detail. There are several ways to find timelines:
                
                List of timelines has a long single-page collection
                Category:Timelines has a comprehensive multi-page collection via the Wikipedia category system
                Of particular interest may be:
                
                List of centuries
                List of decades
                List of historical anniversaries – e.g. events on January 1 of any year
                2019 – major events this year
                Portal:Current events – featured current events and related project activities
                Deaths in 2019 – lists notable people who died this year
                Category:Graphical timelines – graphical timelines in the category and subcategories, arranged alphabetically
                Glossaries
                Glossaries are lists of terms with definitions. Wikipedia includes hundreds of alphabetical glossaries; they can be found two ways:
                
                Portal:Contents/Glossaries – A single-page list of glossaries
                Category:Wikipedia glossaries – Browse glossaries comprehensively via the Wikipedia category system
                Bibliographies
                Bibliographies list sources on a given topic, for verification or further reading outside Wikipedia:
                
                Wikipedia:List of bibliographies is a list of bibliographies
                Category:Wikipedia bibliographies has a complete multi-page listing of bibliographies on Wikipedia
                Category:Discographies
                Discographies catalog the sound recordings of individual artists or groups.
                
                Category:Discographies has a complete multi-page listing
                Special format collections
                Portals
                Portals include featured articles, images, news, categories, excerpts of key articles, links to related portals, and to-do lists for editors. There are two ways to find portals:
                
                Portal:Contents/Portals – A single-page list of portals
                Category:Portals – Browse portals comprehensively via the Wikipedia category system
                Wikipedia books
                Wikipedia books are collections of Wikipedia articles that can be viewed, downloaded, or printed into a book. They provide a roadmap for a course of study in a particular subject.
                
                Category:Wikipedia books (community books) – an alphabetical list of the books
                Category:Wikipedia books – a list of the books, categorized by topic
                Spoken articles
                Growing collections of Wikipedia articles are starting to become available as spoken word recordings as well.
                
                Category:Spoken articles – an organized list of all spoken articles
                Wikipedia:Spoken articles – some general information about the spoken article technology
                Collections of articles
                Category system
                Wikipedia's collection of category pages is a classified index system. It is automatically generated from category tags at the bottoms of articles and most other pages. Nearly all of the articles available so far on the website can be found through these subject indexes.
                
                If you are simply looking to browse articles by topic, there are three top-level pages to choose from:
                
                Category:Main topic classifications – probably what you are looking for: Arts, History, Technology, etc.
                Portal:Contents/Categories – a hand-crafted list of first- and second-level topic categories
                For biographies, see Category:People.
                
                Category:Contents is technically at the top of the category hierarchy, but contains many categories useful to editors but not readers. Special:Categories lists every category alphabetically.
                
                Alphabetical lists of articles
                Wikipedia's alphabetical article indexes
                
                Special:Allpages lists all of the current pages in Wikipedia.
                Portal:Contents/A–Z index provides an easy way to skip to a particular part of the alphabet in the list of all articles.
                Lists of alphabetical indexes
                Category:Wikipedia indexes – alphabetical list of topic indexes
                Portal:Contents/Indices – indexes sorted by topic area
                Collections of articles by quality or popularity
                Featured content
                Featured content is the best Wikipedia has to offer, via vigorous peer review. Presented by type:
                
                Featured articles · Featured lists · Featured pictures · Featured topics
                Most popular articles
                Wikipedia:Top 5000 pages (of the last week)

            </p>

          </div>
          </div>
    </div>
