

<div class="panel panel-default">
        <div class="panel-body">
            <h1 style="color: blue; font-size: 30px; font-style: italic; ">Employee Growth Rate</h1>
    
        </div>
      </div>

<div class="jumbotron" style="background-color: whitesmoke; height:500px;" >
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron jumbotron-fluid" style="background-color: whitesmoke; ">
                    <div style=" height: 230px; width:800px;">
                        <canvas id="canvas" height="10" width="30"></canvas>
                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                <br>
                <br>
                <br>
                <span style="font-style: italic;font-size: 20px;"> Top Campagin Performers</span>
                <hr>
                <span>Akhil</span>
                <div class="progress">
                    <div class="progress-bar bg-info progress-bar-striped" style="width:50%"></div>
                </div>
                <span>Sahil</span>
                <div class="progress">
                    <div class="progress-bar bg-info progress-bar-striped" style="width:40%"></div>
                </div>
                <span>Shubham</span>
                <div class="progress">
                    <div class="progress-bar bg-info progress-bar-striped" style="width:60%"></div>
                </div>
                <span>Rajat</span>
                <div class="progress">
                    <div class="progress-bar bg-info progress-bar-striped" style="width:50%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid" style="background-color:whitesmoke;height: 300px;">


    <div class="container">
        <div class="row">

            <div class="col-sm-5">
                <div style="   height: 350px; width: 450px;">
                    <canvas id="piechart" height="15" width="30"></canvas>
                </div>

            </div>
            <div class="col-sm-2">

                <span style="font-style: italic;font-size: 20px;text-decoration:underline ;">Profiles in Project</span>
                <span> Java Developers</span>
                <div class="progress">

                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%"
                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span>Testers</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped " role="progressbar" style="width: 20%"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span>UI integeratror</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped " role="progressbar" style="width: 30%"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span>Managers</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped " role="progressbar" style="width: 45%"
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span>SAP</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>

            <div class="col-sm-5">

                <div style="   height: 250px; width: 500px;">
                    <canvas id="barchart" height="10" width="20"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<hr>
<br><br>
<span class="heading">User Rating</span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<h1>Client Side Reviews.</h1>
<hr style="border:3px solid #f1f1f1">

<div class="row">
    <div class="side">
        <div style="margin-left: 20px;">5 star</div>
    </div>
    <div class="middle">
        <div class="bar-container">
            <div class="bar-5"></div>
        </div>
    </div>
    <div class="side right">
        <div>UI Design</div>
    </div>
    <div class="side">
        <div style="margin-left: 20px;">4 star</div>
    </div>
    <div class="middle">
        <div class="bar-container">
            <div class="bar-4"></div>
        </div>
    </div>
    <div class="side right">
        <div>Functionalities</div>
    </div>
    <div class="side">
        <div style="margin-left: 20px;">3 star</div>
    </div>
    <div class="middle">
        <div class="bar-container">
            <div class="bar-3"></div>
        </div>
    </div>
    <div class="side right">
        <div>Presentation</div>
    </div>
    <div class="side">
        <div style="margin-left: 20px;">2 star</div>
    </div>
    <div class="middle">
        <div class="bar-container">
            <div class="bar-2"></div>
        </div>
    </div>
    <div class="side right">
        <div>Defaults</div>
    </div>
    <div class="side">
        <div style="margin-left: 20px;">1 star</div>
    </div>
    <div class="middle">
        <div class="bar-container">
            <div class="bar-1"></div>
        </div>
    </div>
    <div class="side right">
        <div>FutureScope</div>
    </div>
</div>